
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters{
  margin-right: 30px;
  font-size: 14px;
  text-align: right;
}

.votes{ 
  color: $green;
}

.status{
  &.unanswered{
    border:none;
  }
  &.answered{
    border: 1px solid $green;
    color: $green
  }
  &.answer-accepted{
    background: $green;
    color: white;
  }
}

.view{
  margin-top: 10px;
}

.delete-question-form{
  margin-left: 5px;
}
